@font-face {
    font-family: IRANSans;
    font-style: normal;

    src: url('../fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
     /* IE6-8 */ url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'), 
     /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

.font{
    font-family: IRANSans;
    font-size: 11.6pt;
}
.dir{
direction: rtl;
text-align: right;
}