.site_banner .site_title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site_banner .site_title h3::after {
    content: '';
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site_banner .site_title h1 {
    font-size: 3rem;
}

.site_banner .site_title h4 {
    font-size: 1.5rem;
}

.site_banner .banner_image {
    padding: 7rem 0;
    width: 90rem;
}

.title_text {
    font: normal bold 50px/72px var(--roboto);
}

.button_style {
    font: normal 500 16px/20px var(--roboto);
    border: 3px solid transparent;
    border-radius: 4px;
    position: relative;
    background: var(--gradient-color);
    padding: .8rem 2.2rem;
    color: whitesmoke;
    background-clip: padding-box;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button_style:hover {
    color: black;
    background: whitesmoke;
    background-clip: padding-box;
}

.button_style::after,.button_secondery::after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: '';
    z-index: -1;
    border-radius: 4px;
    background: var(--gradient-color);
}

.button_secondery {
    background: white;
    position: relative;
    padding: .8rem 2.2rem;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button_secondery:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}


